{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project List</title>
    <link rel="stylesheet" href="{% static '/css/style.css'%}">
</head>
<body>
    <h1>- My Projects</h1>
    <a href="{% url 'project_create' %}" class="create-1">Create New Project</a>
    <ul>
        {% for project in projects %}
        <li>
            <a href="{% url 'project_detail' project.id %}" class="create-1">{{ project.name }}</a> - {{ project.status }}
        </li>
        {% endfor %}
    </ul>
</body>
</html>
